* {
	margin: 0px;
	padding: 0px;
}

.body {
	background-color: white;
}

div.line {
	background: linear-gradient(90deg, rgba(255,217,23,1) 0%, rgba(255,162,0,1) 100%);
	width: 100%;
	height: 10px;
}
div.line-thin {
	background: linear-gradient(90deg, rgba(255,217,23,1) 0%, rgba(255,162,0,1) 100%);
	width: 100%;
	height: 2px;
}

@font-face {
	font-family: sf;
	src:
	url("./web/SF-Light.otf") format("opentype")
	url("./web/SF-Bold.otf") format("opentype")
	url("./web/SF-Regular.otf") format("opentype");
}

img.logo {
	width: 125px;
	height: 125px;
	display: inline;
}

h2.head {
	text-align: center;
	display: inline;
	margin: 20px;
	font-family: sf;
	font-weight: bold;
}
